.button {
	position: relative;
	z-index: 0;
	display: inline-block;
	padding: 24px 40px;
	background-color: $color-transparent;
	border: none;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	transition: color $transition-default;

	&::before {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		mask-image: url("data:image/svg+xml,%3Csvg width='296' height='70' viewBox='0 0 296 70' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M4.86006 21.9796C5.97341 14.1861 6.53008 10.2894 8.41121 7.35825C10.0689 4.7752 12.4346 2.72345 15.2261 1.44769C18.3939 0 22.3302 0 30.2028 0H265.797C273.67 0 277.606 0 280.774 1.44769C283.565 2.72345 285.931 4.7752 287.589 7.35825C289.47 10.2894 290.027 14.1861 291.14 21.9796L293.826 40.7796C295.266 50.8588 295.985 55.8984 294.458 59.8143C293.117 63.252 290.629 66.1205 287.416 67.9341C283.755 70 278.664 70 268.483 70H27.5171C17.3356 70 12.2448 70 8.5842 67.9341C5.37075 66.1205 2.8829 63.252 1.542 59.8143C0.0145201 55.8984 0.73446 50.8588 2.17434 40.7796L4.86006 21.9796Z' fill='%23F74C25'/%3E%3C/svg%3E");
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
		transition: background-color $transition-default;
		pointer-events: none;
		content: "";
	}

	&--orange {
		color: $color-white;

		&::before {
			background-color: $color-orange;
		}

		&:hover {
			&::before {
				background-color: darken($color-orange, 10%);
			}
		}

		&-v1 {
			@include desktop {
				&::before {
					mask-image: url("data:image/svg+xml,%3Csvg width='298' height='70' viewBox='0 0 298 70' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M0 26.0353C0 16.9371 0 12.388 1.78082 8.93621C3.34691 5.90064 5.84337 3.44593 8.90492 1.93124C12.3862 0.208866 16.9347 0.285566 26.0316 0.438965L269.282 4.54084C277.097 4.67263 281.005 4.73852 284.134 6.22385C286.891 7.5329 289.217 9.60343 290.836 12.1911C292.673 15.1272 293.19 19.0012 294.225 26.7491L296.129 41.0119C297.466 51.021 298.134 56.0255 296.59 59.9098C295.235 63.3201 292.748 66.1607 289.547 67.9556C285.901 70 280.853 70 270.755 70H25.6C16.6392 70 12.1587 70 8.73615 68.2561C5.72556 66.7221 3.27787 64.2744 1.7439 61.2638C0 57.8413 0 53.3608 0 44.4L0 26.0353Z' fill='%23F74C25'/%3E%3C/svg%3E");
				}
			}
		}

		&-v2 {
			@include desktop {
				&::before {
					mask-image: url("data:image/svg+xml,%3Csvg width='309' height='70' viewBox='0 0 309 70' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M1.38168 27.7863C0.555165 18.1436 0.141908 13.3223 1.76501 9.60193C3.19103 6.33335 5.66813 3.63484 8.80299 1.93489C12.3711 0 17.2101 0 26.8882 0L282.506 0C292.061 0 296.839 0 300.384 1.90254C303.498 3.57439 305.971 6.23065 307.417 9.4565C309.062 13.1274 308.722 17.8929 308.041 27.4239L306.698 46.2239C306.1 54.6022 305.801 58.7914 303.978 61.9661C302.373 64.7613 299.962 67.0067 297.059 68.4082C293.763 70 289.563 70 281.163 70H28.4996C20.2081 70 16.0624 70 12.7914 68.4377C9.91099 67.062 7.50791 64.856 5.89117 62.1036C4.05526 58.9781 3.70121 54.8475 2.99311 46.5863L1.38168 27.7863Z' fill='%23F74C25'/%3E%3C/svg%3E%0A");
				}
			}
		}

		&-v3 {
			@include desktop {
				&::before {
					mask-image: url("data:image/svg+xml,%3Csvg width='298' height='70' viewBox='0 0 298 70' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M298 26.0353C298 16.9371 298 12.388 296.219 8.93621C294.653 5.90064 292.157 3.44593 289.095 1.93124C285.614 0.208866 281.065 0.285566 271.968 0.438965L28.7182 4.54084C20.9027 4.67263 16.9949 4.73852 13.8661 6.22385C11.1085 7.5329 8.78302 9.60343 7.16393 12.1911C5.32682 15.1272 4.80955 19.0012 3.77503 26.7491L1.8706 41.0119C0.534155 51.021 -0.13407 56.0255 1.40981 59.9098C2.76528 63.3201 5.25187 66.1607 8.45274 67.9556C12.0985 70 17.1475 70 27.2454 70H272.4C281.361 70 285.841 70 289.264 68.2561C292.274 66.7221 294.722 64.2744 296.256 61.2638C298 57.8413 298 53.3608 298 44.4L298 26.0353Z' fill='%23F74C25'/%3E%3C/svg%3E%0A");
				}
			}
		}
	}

	&--outline-orange {
		color: $color-orange;

		&::before {
			background-color: $color-orange;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='296' height='70' viewBox='0 0 296 70' fill='none' preserveAspectRatio='none'%3E%3Cpath d='M5.35503 47.9497C5.91279 51.854 6.32748 54.7544 6.83585 57.0462C7.34287 59.3318 7.93585 60.9753 8.832 62.3717C10.4379 64.874 12.7297 66.8617 15.434 68.0976C16.9431 68.7872 18.6539 69.1418 20.9883 69.3205C23.3289 69.4997 26.2588 69.5 30.2028 69.5H265.797C269.741 69.5 272.671 69.4997 275.012 69.3205C277.346 69.1418 279.057 68.7872 280.566 68.0976C283.27 66.8617 285.562 64.874 287.168 62.3717C288.064 60.9753 288.657 59.3318 289.164 57.0462C289.673 54.7544 290.087 51.854 290.645 47.9497L293.331 29.1497C294.052 24.1014 294.588 20.3466 294.755 17.3638C294.923 14.3859 294.718 12.2293 293.992 10.3674C292.693 7.03715 290.283 4.25827 287.17 2.50137C285.43 1.51909 283.324 1.01196 280.352 0.756401C277.375 0.500435 273.583 0.5 268.483 0.5H27.5171C22.4175 0.5 18.6247 0.500435 15.6481 0.756401C12.6765 1.01196 10.5704 1.51909 8.82995 2.50137C5.71692 4.25828 3.30681 7.03715 2.00782 10.3674C1.28155 12.2293 1.07735 14.3859 1.24462 17.3638C1.41217 20.3466 1.94813 24.1014 2.66931 29.1497L5.35503 47.9497Z' stroke='%23F74C25'/%3E%3C/svg%3E");
		}

		&:hover {
			color: darken($color-orange, 10%);

			&::before {
				background-color: darken($color-orange, 10%);
			}
		}

		@include desktop {
			&::before {
				mask-image: url("data:image/svg+xml,%3Csvg width='278' height='70' viewBox='0 0 278 70' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M26.0534 0.970795L249.684 5.01118C253.627 5.08242 256.556 5.13568 258.892 5.35705C261.223 5.57783 262.927 5.96319 264.423 6.67986C267.104 7.96415 269.36 9.99246 270.92 12.523C271.791 13.9351 272.354 15.5887 272.82 17.8828C273.288 20.183 273.65 23.09 274.138 27.0031L275.919 41.296C276.54 46.2756 277.001 49.9789 277.114 52.9198C277.228 55.8556 276.992 57.9806 276.251 59.8133C274.924 63.0916 272.517 65.8178 269.428 67.5394C267.701 68.5018 265.621 68.9985 262.694 69.2488C259.762 69.4996 256.03 69.5 251.012 69.5H25.6C21.1113 69.5 17.7749 69.4996 15.1319 69.2837C12.4948 69.0682 10.5922 68.6406 8.96315 67.8106C6.04663 66.3246 3.67544 63.9534 2.1894 61.0369C1.35935 59.4078 0.931787 57.5052 0.716326 54.8681C0.500389 52.2251 0.5 48.8887 0.5 44.4V26.0667C0.5 21.5043 0.500395 18.1129 0.721249 15.4294C0.94163 12.7516 1.37896 10.8238 2.22774 9.18009C3.74712 6.23766 6.16895 3.85919 9.13835 2.39321C10.7972 1.57426 12.7325 1.17183 15.4138 0.999852C18.1009 0.827509 21.4918 0.888379 26.0534 0.970795Z' stroke='%23F74C25'/%3E%3C/svg%3E%0A");
			}
		}
	}

	&--with-smile {
		border: 1px solid $color-orange;
		border-radius: 40px;
		padding: 13px 69px 14px 27px;
		text-align: left;
		color: $color-orange;

		&::before {
			mask-image: unset;
		}

		&:hover {
			color: darken($color-orange, 10%);

			&::before {
				background-color: darken($color-orange, 10%);
			}
		}

		@include desktop {
			border-width: 0;
			border-radius: 0;

			&::before {
				mask-image: url("data:image/svg+xml,%3Csvg width='188' height='50' viewBox='0 0 188 50' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M25.2236 0.979798L164.055 3.62012C170.214 3.73725 173.169 3.80027 175.598 4.69371C179.363 6.07882 182.445 8.86996 184.195 12.4802C185.323 14.809 185.678 17.7436 186.402 23.8607C186.856 27.6932 187.193 30.5434 187.31 32.8188C187.427 35.0908 187.323 36.751 186.912 38.2071C185.624 42.7764 182.312 46.5032 177.926 48.32C176.528 48.899 174.892 49.1982 172.622 49.3488C170.348 49.4997 167.478 49.5 163.619 49.5H24.7623C20.669 49.5 17.6265 49.4997 15.2095 49.3192C12.7975 49.1391 11.0486 48.7817 9.53684 48.0882C6.16445 46.5411 3.45892 43.8355 1.91179 40.4632C1.21826 38.9514 0.860853 37.2025 0.680779 34.7905C0.500324 32.3735 0.5 29.331 0.5 25.2377C0.5 21.0737 0.50033 17.9784 0.685125 15.5223C0.869543 13.0711 1.23557 11.2975 1.94564 9.77075C3.52966 6.36486 6.29659 3.65005 9.73199 2.13107C11.272 1.45017 13.0522 1.11793 15.5064 0.980152C17.9657 0.842094 21.0604 0.900621 25.2236 0.979798Z' stroke='%23F74C25'/%3E%3C/svg%3E");
				background-color: $color-orange;
			}
		}

		@media (min-width: 1200px) {
			padding: 14px 73px 14px 19px;
		}
	}

	&__smile {
		position: absolute;
		top: -7px;
		right: -9px;
		width: 64px;
		height: 64px;
	}
}
