.section-video {
	display: none;
	padding-top: 11px;
	padding-bottom: 30px;

	@include desktop {
		display: block;
	}

	&__grid {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		grid-column-gap: 30px;
	}

	&__link {
	}
}
