.section-map {
	position: relative;

	@include desktop {
		margin-top: 50px;
	}

	&__map {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ccc;
		border-radius: 24px;
		overflow: hidden;

		*[class*=-ground-pane] {
			filter: grayscale(100%);
		}

		@include desktop {
			border-radius: 0;
		}
	}

	&__container {
		height: 720px;
		padding-bottom: 100px;

		@include desktop {
			display: flex;
			align-items: center;
		}
	}

	&__card {
		width: 100%;
		max-width: 420px;
		margin: 20px auto 0;
		padding: 20px 30px 7px;
		background-color: $color-white;
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='368' height='198' viewBox='0 0 368 198' fill='none' preserveAspectRatio='none'%3E%3Cpath d='M0.700052 157.971C0.107469 171.924 -0.188822 178.9 2.34252 184.256C4.56785 188.964 8.26419 192.821 12.8737 195.244C18.1172 198 25.0999 198 39.0655 198H328.935C342.9 198 349.883 198 355.126 195.244C359.736 192.821 363.432 188.964 365.657 184.256C368.189 178.9 367.893 171.924 367.3 157.971L362.153 36.7706C361.604 23.8476 361.329 17.3862 358.64 12.4738C356.272 8.15028 352.631 4.66054 348.211 2.47884C343.189 0 336.722 0 323.787 0H44.2129C31.2782 0 24.8109 0 19.7888 2.47884C15.3688 4.66054 11.7277 8.15028 9.3604 12.4738C6.6707 17.3862 6.39628 23.8476 5.84744 36.7706L0.700052 157.971Z' fill='white'/%3E%3C/svg%3E");
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
		text-align: center;

		@include desktop {
			margin: 0;
			padding: 30px;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='420' height='395' viewBox='0 0 420 395' fill='none' preserveAspectRatio='none'%3E%3Cpath d='M0 39.1969C0 25.5042 0 18.6579 2.68339 13.4707C5.04309 8.90925 8.8038 5.22501 13.4128 2.95948C18.654 0.383188 25.4989 0.523795 39.1886 0.805009L373.371 7.66974C386.249 7.93429 392.689 8.06657 397.647 10.6334C402.011 12.8926 405.577 16.4371 407.862 20.7879C410.458 25.731 410.628 32.1695 410.969 45.0465L418.978 347.945C419.336 361.46 419.514 368.217 417.015 373.435C414.816 378.025 411.215 381.797 406.733 384.207C401.636 386.946 394.878 387.082 381.362 387.353L39.1699 394.215C25.486 394.489 18.6441 394.626 13.4054 392.049C8.79865 389.783 5.04007 386.099 2.68177 381.538C0 376.352 0 369.509 0 355.822V39.1969Z' fill='white'/%3E%3C/svg%3E");
			text-align: left;
		}
	}

	&__name {
		margin-bottom: 10px;
		font-family: $font-secondary;
		font-size: 28px;
		line-height: 1.2;
		color: $color-orange;

		@include desktop {
			display: none;
		}
	}

	&__logo {
		display: none;
		width: 100%;
		max-width: 170px;
		margin-bottom: 30px;

		@include desktop {
			display: block;
		}
	}

	&__title {
		margin-bottom: 25px;
		font-size: 24px;
		line-height: 1.2;

		@include desktop {
			margin-bottom: 17px;
			font-family: $font-secondary;
			font-size: 28px;
			line-height: 1;
			text-transform: uppercase;
			color: $color-orange;
		}
	}

	&__group {
		margin-bottom: 7px;

		@include desktop {
			margin-bottom: 20px;
		}

		&--hide-mobile {
			display: none;

			@include desktop {
				display: block;
			}
		}
	}

	&__small-text {
		display: none;
		margin-bottom: 5px;

		@include desktop {
			display: block;
		}
	}

	&__text {
		font-size: 16px;
		font-weight: 500;

		@include desktop {
			font-size: 20px;
		}
	}

	&__phone {
		font-size: 20px;
		font-weight: 500;
	}
}
