.section-quote {
	padding-top: 6px;
	padding-bottom: 30px;

	&__container {
		display: grid;
		grid-template: auto / 3.1fr 1fr;
		grid-column-gap: 30px;
		align-items: center;
	}

	&__content {
		position: relative;
		padding-left: 28px;
		font-size: 28px;
		line-height: 1.4;
		font-style: italic;

		&::before {
			position: absolute;
			top: 10px;
			left: 0;
			bottom: 6px;
			width: 10px;
			background-image: url("../images/section-quote/line.svg");
			background-size: 100% 100%;
			background-repeat: repeat-y;
			content: "";
		}
	}

	&__img {
		max-width: 100%;
	}
}
