.section-quote {
	padding-top: 24px;
	padding-bottom: 16px;

	@include desktop {
		padding-top: 6px;
		padding-bottom: 30px;
	}

	&__container {
		display: grid;
		grid-gap: 25px 30px;

		@include desktop {
			grid-template: auto / 3.1fr 1fr;
			align-items: center;
		}
	}

	&__content {
		position: relative;
		font-size: 24px;
		line-height: 1.4;
		font-style: italic;

		&::before {
			display: block;
			width: 100%;
			height: 18px;
			margin-bottom: 26px;
			background-image: url("../images/section-quote/line-mobile.svg");
			background-size: 100% 100%;
			background-repeat: repeat-y;
			content: "";
		}

		@include desktop {
			font-size: 28px;
			padding-left: 28px;

			&::before {
				position: absolute;
				top: 10px;
				left: 0;
				bottom: 6px;
				width: 10px;
				height: auto;
				margin-bottom: 0;
				background-image: url("../images/section-quote/line-desktop.svg");
			}
		}
	}

	&__img {
		display: block;
		width: 100%;
		max-width: 400px;
		margin: 0 auto;

		@include desktop {
			width: unset;
			max-width: 100%;
			margin: 0;
		}
	}
}
