.video {
	position: relative;
	display: block;
	mask-size: 100% 100%;
	mask-repeat: no-repeat;
	cursor: pointer;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, .4);
		content: "";
	}

	&--mask1 {
		mask-image: url("data:image/svg+xml,%3Csvg width='645' height='363' viewBox='0 0 645 363' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M644.5 47.8088C644.5 34.5547 644.5 27.9277 641.935 22.8344C639.678 18.3533 636.073 14.6922 631.627 12.3659C626.575 9.72187 619.948 9.61906 606.696 9.41343L38.9957 0.605053C25.3666 0.393586 18.5521 0.287852 13.3371 2.87405C8.75092 5.14845 5.01208 8.82971 2.66681 13.3801C0 18.5543 0 25.3697 0 39.0004V324C0 337.63 0 344.446 2.66681 349.62C5.01208 354.17 8.75092 357.852 13.3371 360.126C18.5521 362.712 25.3666 362.606 38.9957 362.395L606.696 353.587C619.948 353.381 626.575 353.278 631.627 350.634C636.073 348.308 639.678 344.647 641.935 340.166C644.5 335.072 644.5 328.445 644.5 315.191L644.5 47.8088Z' fill='%23D7D7D7'/%3E%3C/svg%3E%0A");
	}

	&--mask2 {
		mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 645 363' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M0 47.8088C0 34.5547 0 27.9277 2.56536 22.8344C4.82239 18.3533 8.42708 14.6922 12.8726 12.3659C17.9255 9.72187 24.5518 9.61906 37.8043 9.41343L605.504 0.605053C619.133 0.393586 625.948 0.287852 631.163 2.87405C635.749 5.14845 639.488 8.82971 641.833 13.3801C644.5 18.5543 644.5 25.3697 644.5 39.0004V324C644.5 337.63 644.5 344.446 641.833 349.62C639.488 354.17 635.749 357.852 631.163 360.126C625.948 362.712 619.133 362.606 605.504 362.395L37.8042 353.587C24.5517 353.381 17.9255 353.278 12.8726 350.634C8.42708 348.308 4.82239 344.647 2.56536 340.166C0 335.072 0 328.445 0 315.191L0 47.8088Z' fill='%23D7D7D7'/%3E%3C/svg%3E%0A");
	}

	&--mask3 {
		min-height: 430px;
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='370' height='430' viewBox='0 0 370 430' fill='none' preserveAspectRatio='none'%3E%3Cpath d='M0.765634 39.1508C0.498149 25.4729 0.364407 18.634 2.94265 13.3979C5.20993 8.79341 8.8936 5.037 13.4529 2.68013C18.6375 0 25.4778 0 39.1583 0H330.842C344.522 0 351.362 0 356.547 2.68013C361.106 5.037 364.79 8.79341 367.057 13.3979C369.636 18.634 369.502 25.4729 369.234 39.1508L362.327 392.351C362.069 405.554 361.94 412.156 359.289 417.187C356.956 421.615 353.298 425.202 348.826 427.448C343.743 430 337.14 430 323.935 430H46.0655C32.8597 430 26.2568 430 21.1742 427.448C16.7022 425.202 13.044 421.615 10.7113 417.187C8.06013 412.156 7.93103 405.554 7.67282 392.351L0.765634 39.1508Z' fill='%23F8EEE6'/%3E%3C/svg%3E");

		@include desktop {
			min-height: unset;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 645 380' fill='none' preserveAspectRatio='none'%3E%3Cpath d='M0 38.8931C0 25.2962 0 18.4977 2.65771 13.3306C4.99508 8.78636 8.72192 5.10678 13.2956 2.82757C18.4962 0.236004 25.2941 0.322743 38.8899 0.49622L598.118 7.63174C611.077 7.7971 617.557 7.87978 622.553 10.4296C626.95 12.6737 630.548 16.219 632.856 20.5823C635.479 25.54 635.657 32.0178 636.013 44.9735L643.929 332.935C644.303 346.553 644.49 353.363 641.969 358.607C639.751 363.218 636.117 367 631.598 369.401C626.459 372.131 619.648 372.216 606.026 372.387L38.8824 379.512C25.2889 379.682 18.4922 379.768 13.2927 377.176C8.71984 374.896 4.99386 371.217 2.65705 366.673C0 361.506 0 354.709 0 341.115V38.8931Z' fill='%23F8EEE6'/%3E%3C/svg%3E");
		}
	}

	&__cover {
		width: 100%;
		height: 100%;
	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 130px;
		height: 130px;
		border: 5px solid rgba(#FBF8F2, .2);
		border-radius: 50%;
		transition: border-color $transition-default;

		.section-video__link:hover & {
			border-color: rgba($color-orange, .4);
		}
	}

	&__play-icon {
		width: 74px;
		height: 74px;
		transition: transform $transition-default;

		.video:hover & {
			transform: scale(1.3);
		}
	}
}
