mixin footer()
	footer.footer.container
		.footer__content-box
			p.footer__text Copyright 2023 ООО "Технология" Tech RC
			.footer__text-box
				p.footer__text Руководитель:
					|
					|
					a.footer__link(href="#", target="_blank", rel="noreferrer nofollow") Северинов Никита Анатольевич
				a.footer__link(href="#", target="_blank", rel="noreferrer nofollow") Юридические соглашения
				p.footer__text ОГРН 1222100006600
				a.footer__text(href="mailto:info@driftcart.ru") info@driftcart.ru
