.container {
	width: 100%;
	max-width: 460px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;

	@include tablet() {
		padding-left: 24px;
		padding-right: 24px;
	}

	@include desktop() {
		max-width: 1440px;
		padding-left: 60px;
		padding-right: 60px;
	}
}
